{% extends 'base.html.twig' %}

{% block title %}Modifier un modèle de téléphone{% endblock %}

{% block body %}
    <h1>Modifier un modèle de téléphone</h1>

    {{ include('phone/_form.html.twig', {'editMode': true}) }}

    <a href="{{ path('app_phone_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
